<?php
namespace Database\Entities;

use Clicalmani\Database\DataTypes\Char;
use Clicalmani\Database\DataTypes\Integer;
use Clicalmani\Database\DataTypes\TinyInt;
use Clicalmani\Database\Factory\Entity;
use Clicalmani\Database\Factory\Index;
use Clicalmani\Database\Factory\PrimaryKey;
use Clicalmani\Database\Factory\Property;

#[Index(
    name: 'guidUNIQUE',
    key: 'guid',
    unique: true
)]
class RoleEntity extends Entity
{
    #[Property(
        length: 10,
        unsigned: true,
        autoIncrement: true
    ), PrimaryKey]
    public Integer \$id;

    #[Property(
        length: 5,
    )]
    public Char \$guid;

    #[Property(
        unsigned: true
    )]
    public TinyInt|false \$is_admin = false;
}
