<?php
namespace Database\Entities;

use Clicalmani\Database\DataTypes\Integer;
use Clicalmani\Database\Factory\Entity;
use Clicalmani\Database\Factory\Index;
use Clicalmani\Database\Factory\PrimaryKey;
use Clicalmani\Database\Factory\Property;

#[Index(
    name: 'fk_users_roles_users1_idx',
    key: 'user_id',
    constraint: 'fk_users_roles_users1',
    references: \App\Models\User::class
), Index(
    name: 'fk_users_roles_roles1_idx',
    key: 'role_id',
    constraint: 'fk_users_roles_roles1',
    references: \App\Models\Role::class
), PrimaryKey(['user_id', 'role_id'])]
class UserRoleEntity extends Entity
{
    #[Property(
        length: 10,
        unsigned: true
    )]
    public Integer \$user_id;

    #[Property(
        length: 10,
        unsigned: true
    )]
    public ?Integer \$role_id;
}
